.banner_home {
  background-image: url(../../assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 220px 5%;
  position: relative;

  .banner_home_content {
    max-width: 900px;
    text-align: center;
    margin: 40px auto;
    z-index: 20;
    color: #fff;
    position: relative;

    h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }

    .banner_home_form_area {
      margin-top: 5rem;
    }

  }

  &::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  @media only screen and (max-width: 810px) {
    .banner_home_content {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: 650px) {
    padding: 120px 5%;
    .banner_home_content {
      h1 {
        font-size: 21px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}