.address {
  display: flex;

  .address_data {
    background-color: #EEEEEE;
    padding: 80px 40px;
    width: 40%;

    a.contact {
      color: #000;
    }

    h3 {
      font-size: 20px;
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }
    }

    .agende_title {
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
    }
  }

  .address_map {
    width: 60%;
    iframe {
      border: none;
    }
  }

  @media only screen and (max-width: 780px) {
    flex-direction: column;

    .address_data, 
    .address_map {width: 100%;}

    .address_map {
      height: 400px;
    }
  }
}