.service_slider {
  width: 100%;
  background-color: #EEEEEE;
  padding: 100px 5%;
  text-align: center;

  h1 {
    color: #424242;
    font-size: 35px;
  }

  .service_slider {
    .service_slider_item {
      display: flex !important;
      background-color: #D9D9D9;
      color: #212121;
      border-radius: 25px;

      .service_left, .service_right {
        width: 50%;
      }

      .service_left {
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          border-radius: 25px 0 0 25px;
        }
      }

      .service_right {
        padding: 40px;
        text-align: left;

        h3 {
          font-size: 35px;
        }

        p {
          font-size: 18px;
          margin: 35px 0;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .service_slider {
      .service_slider_item {
        .service_right {
          padding: 30px;

          h3 {
            font-size: 26px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 980px) {
    .service_slider {
      .service_slider_item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        .service_left, .service_right {
          width: 100%;
        }

        .service_left {
          max-width: 350px;
          max-height: 350px;
          border-radius: 50%;

    
        }

        .service_right {
          text-align: center;

          p {
            text-align: justify;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 560px){
    padding: 50px 5%;
    
    h1 {
      font-size: 25px;
    }
    .service_slider {
      .service_slider_item {
        .service_left {
          max-width: 280px;
          max-height: 280px;

          img {
            border-radius: 50%;
          }
        }

        .service_right {
          h3 {
            font-size: 22px;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}