footer {
  background-image: url(../../assets/images/banner_footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 5% 50px;
  font-size: 14px;

  position: relative;

  &::after {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .footer_txt {
    position: relative;
    z-index: 50;
  }

  .footer_container {
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 30px;
    img {
      max-width: 200px;
    }
  }

  @media only screen and (max-width: 680px){
    text-align: center;
    font-size: 12px;
    
    .footer_container {
      flex-direction: column;

      img {
        max-width: 170px;
      }
    }
  }
}